<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="Überschrift">You are one click away...</h1>
    <h3 id="ConfText">Check your emails and click the link to confirm your registration!</h3>
    <p id="Thajoin">Thank you for joining NodeTalk! To finish your registration, please confirm your email adress.</p>
    <p id="LoginButton"><a href="/signIn" target="_blank">Login</a></p>
    <button id="Resend">Resend email confirmation</button>
  </body>
</html>
