<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Homepage</h1>
    <h3>NoteTalk</h3>
    <p id="login"><a href="/signIn" target="_blank">Press here to Login!</a></p>
    <p id="register"><a href="/signUp" target="_blank">Press here to register!</a></p>

    <p id="QuickPromo">The smart solution to talk with your friends and family, while working on Notes.</p>

  </body>
</html>
