<%- include ('partials/navigation.ejs') %>
<div class="flashes">
  <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
    <% } else if (flashMessages.error) { %>
      <div class="flash error"><%= flashMessages.error %></div>
    <% } %>
  <% } %>
</div>
  <div class="login">
    <% if(loggedIn) {%>
    <% } %>
  </div>
<%- body %>
<div id="footer">FOOTER blabla </div>
