<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Chatrooms:</h1>
    <% chatrooms.forEach(room => { %>
      <h5> <%= room.title %> </h5>
      <% }); %>
  </body>
</html>
