<div id="nav">



    <!-- <div id="navigation">NAVIGATION</div> -->
      <a id="bar-icon" href="/">Home</a>

      <% if (loggedIn) { %>
          <a id="bar-icon" href="<%=`/users/${currentUser._id}`%>"> Profile </a>
          <a id="bar-icon" href="/chat" class="chat-icon">@</a>
          <a id="bar-icon" href="/users/logout">Log out</a>

      <%} else {%>
         <a id="bar-icon" href="/signUp">Sign Up</a>
         <a id="bar-icon" href="/signIn">Log In</a>
      <% } %>






</div>
