
    <div id="nav">NAVIGATION</div>

    <div class="login">
    <% if (loggedIn) { %>
     Logged in as <a href="<%=`/users/${currentUser._id}`%>"> <%= currentUser.name  %></a>
     <a href="/users/logout">Log out</a>
    <%} else {%>
     <a href="/signIn">Log In</a>
    <% } %>
    <a href="/chat" class="chat-icon">@</a>
    </div>
