<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Email</title>
  </head>
  <body>
    <a href="./" target="_blank">Profile</a>
    <h1>Email</h1>
    <p>Bitte gebe hier deine Id und deine Email</p>
    <form action="" method="post">
      <label for="chatroomPath">chatroom</label>
      <input type="text" name="chatroomPath">
      <label for="email">Email</label>
      <input type="email" name="email">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
